.progress-bar {
  width: 80%;
  height: 10px;
  background: #F2F3F3;
  border-radius: 10px;
  margin-top: 20px;
  margin: 0 auto;
  position: relative;
}

.progress-bar__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3BDE7C;
  border-radius: 10px;
}

@media (min-width: 767px) {
  .progress-bar {
    height: 20px;
    margin-bottom: 20px;
  }
}